div {
    display: inline-flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.waveImage {
    height: 50px;
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    mix-blend-mode: multiply;
}