.message-bubble {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 3px;
    border-radius: 10px;
    min-height: 40px;
    box-sizing: border-box;
    //min width 20px
}

.own-message {
    background-color: #dcffbb;
    align-self: flex-end;
}

.other-message {
    background-color: #ffffff;
    align-self: flex-start;
}

.own-message.favourite {
    background-color: rgb(124, 154, 68);
}

.other-message.favourite {
    background-color: rgb(169, 172, 164);
}

.message-date {
    align-self: flex-end;
    color: gray;
    font-size: small;
    padding-right: 7px;
    padding-bottom: 2px;
    opacity: 0.8;
}

.image-container {
    display: flex;
    flex-direction: column;
}

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message-bubble.quote {
    opacity: 0.8;
}
