.message-image {
    margin: auto;
    margin-top: 5px;
    max-width: 98%;
    height: auto;
    border-radius: 10px;
}

.caption-text {
    padding-top: 2px;
    padding-left: 15px;
}
.image-error {
    padding: 4px 8px;
    border: 1px solid black;
    height: 125px;
    width: 125px;
}
