html {   background-color: rgb(226, 217, 206); }
body {
    background-color: green;
  }
h1{
  font-family: Helvetica;
}
a:link { 
  text-decoration: none;
}
a:visited { 
  text-decoration: none;
  color: inherit;
}
a:hover { 
  text-decoration: none;
}
a:active { 
  text-decoration: none;
}