html {
    background-color: rgb(226, 217, 206);
}
body {
    background-color: green;
}
h1 {
    font-family: Helvetica;
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
.spacer {
    flex: 1 1 auto;
}
.app-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #065e52;
}
.favourites-button {
    background-color: #065e52;
}
