.messageBubble {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    max-width: 80%;
    margin: 3px;
    border-radius: 15px;
    min-height: 40px;
    flex-direction: column;
    padding-bottom: 10px;
}
.messageText{
    white-space:pre-wrap;
    position: relative;
    top: 10px;
    left:15px;
    min-height: 20px;
    max-height: 300px;
    min-width: 30%;
    max-width: 90%;
}
.captionText {
    position: relative;
    top: 10px;
    left:15px;
}
.linkText {
    //font-family: Helvetica;
}
.ownMessage{
    background-color: rgb(171, 212, 95);
    float: right;
    justify-content: flex-start;
}
.otherMessage{
    background-color: rgb(226, 230, 221);
    float: left;
    justify-content: flex-end;
}
.messageDate {
    color: gray;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: small;
    position: relative;
    right: 10px;
    bottom: -9px;
}
mat-icon{
    float: right;
}
img{
    margin: auto;
    margin-top: 5px;
    max-width: 98%;
    height: auto;
    border-radius: 10px;  
}