.year-picker{
    height: 30px;
    font-family: Helvetica;
    text-align: center;
    margin: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.selected{
    background-color: aquamarine;    
}
.unselected{
    background-color: grey;
}