@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
html { 
    background-color: slategray;
    font-family: Helvetica;
    overflow-x: hidden;
}