<mat-tab-group
    #yearTabs
    id="yearTabs"
    mat-stretch-tabs
    [selectedIndex]="selectedYearIndex"
    (selectedTabChange)="onYearSelected($event)"
>
    <mat-tab
        *ngFor="let tab of this.yearMonthMap | keyvalue"
        label="{{ tab.key }}"
    >
        <mat-tab-group
            id="monthTabs"
            mat-stretch-tabs
            [selectedIndex]="selectedMonthIndex"
            (selectedTabChange)="onMonthSelected($event)"
        >
            <mat-tab
                *ngFor="let subTab of tab.value | setToArray | numberToMonth"
                label="{{ subTab }}"
            ></mat-tab>
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>
