<mat-tab-group
    id="yearTabs"
    mat-stretch-tabs
    (selectedTabChange)="onYearSelected($event)">
    <mat-tab *ngFor="let tab of this.datesMap | keyvalue" label={{tab.key}}>
        <mat-tab-group
            id="monthTabs" 
            mat-stretch-tabs
            (selectedTabChange)="onMonthSelected($event)">
            <mat-tab *ngFor="let subTab of tab.value | numberToMonth" label={{subTab}}></mat-tab> <!--need to sort this, months appearing in incorrect order-->
        </mat-tab-group>
    </mat-tab>
</mat-tab-group>